body {
  font-family: sans-serif;
  max-width: 40rem;
  margin-inline: auto;
  margin-block: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;

  accent-color: hsl(120, 100%, 25%);

  &::placeholder {
    color: silver;
  }

  &:invalid {
    border: 1px solid red;
  }
}

form {
  display: grid;
  gap: 1rem;
}

.field-group {
  --gap: 0.5rem;
  --label: 8rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: var(--gap);

  & > label {
    flex-basis: var(--label);
  }

  & > input,
  & > textarea {
    flex-basis: calc(100% - var(--label) - var(--gap));
  }

  & > .helptext {
    flex-basis: calc(100% - var(--label) - var(--gap));
  }
}

fieldset {
  border: 0;
  padding: 0;

  & ul {
    list-style-type: none;
    padding-left: 0;
  }

  & li {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & input[type="radio"] {
    flex-basis: 1rem;
  }
}

.helptext {
  width: 100%;
  flex-basis: calc(100% - 10rem);
  color: red;

  display: none;
}

input:focus:invalid {
  outline: 2px solid hsla(0, 100%, 50%, 0.4);
}

input:invalid + .helptext {
  display: block;
}

label:has(+ input:invalid) {
  color: red;
}

input[type="email"]:placeholder-shown {
  border: 2px solid purple;
}

input[type="email"]:not(:placeholder-shown) {
  border: 2px solid blue;
}

/* 
input[type="email"]:not(:placeholder-shown):valid {
  border: 2px solid green;
}

label:has(+ input[type="email"]:not(:placeholder-shown):valid) {
  color: green;
  font-weight: bold;

  &:before {
    content: "✅";
    width: 1ex;
    height: 1ex;
    margin-right: 0.5rem;
  }
}

input[type="email"]:not(:placeholder-shown):valid:focus {
  outline: 2px solid hsla(120, 100%, 25%, 0.3);
} */
