body {
  font-family: sans-serif;
}

.grid-container {
  max-width: 80rem;
  margin-inline: auto;
  padding: 1rem;

  display: grid;
  gap: 1rem;

  grid-template-areas:
    "header"
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";

  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
}

@media (min-width: 40rem) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "one    one    two    two"
      "six    four   two    two"
      "five   three  two    two";
  }
}

.page-title {
  background-color: aqua;
  padding: 1rem;

  grid-area: header;

  /* grid-column: 1 / -1; */
}

.block {
  background-color: silver;
  padding: 1rem;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}
