body {
  font-family: sans-serif;
  width: calc(100% - 2rem);
  max-width: 70rem;
  margin-inline: auto;
  margin-block: 2rem;
}

img {
  width: 100%;
}

.grid {
  display: grid;
  gap: 1rem;

  @media (min-width: 50rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}
